.cabecera{
    background:#008037;
    color: #fafafa;
    display: flex;
}
.cabecera h1{
    font-size: 2.5vw;
}
.cabecera__bloque1{
    height: 50vh;
    width: 50%;
    background: url(../img-camello/cumbre-cordon.jpg) no-repeat center;
    background-size: cover;
}
.cabecera__bloque2{
    height: 50vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
}
.titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding-top: 40px;
    color: #008037;
}
.articulo{
    max-width: 100%;
    text-align: justify;
}
.articulo p{
    display: block;
}


.galeria {
	display: flex;
	width: 88%;
	margin: auto;
	justify-content: space-around;
	flex-wrap: wrap;
	z-index: 1;
}

.galeria .foto {
	width: 350px;
	height: 350px;
	position: relative;
	margin-bottom: 35px;
	border-radius: 5px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
	transition: 0.6s ease;
}
.galeria .foto:hover {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.foto img {
	width: 350px;
	height: 350px;
	object-fit: cover;
	border-radius: 5px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
	width: 100%;
	height: 0;
	transition: 0.55s ease;
	overflow: hidden;
}
.overlay h2 {
	color: #fff;
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.foto:hover .overlay {
	height: 100%;
	cursor: pointer;
	border-radius: 5px;
}

.contenedor-modal.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(211, 211, 211, 0.459);
}
/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media only screen and (max-width: 1100px){

@media only screen and (max-width: 500px) {
}